{% extends "base.html" %} {% block title %}Practice Language{% endblock %} {% block content %}

{% block styles %}
<style>
    /* Default styles: three boxes side by side */
    .tenses-container {
        display: flex;
        justify-content: space-between;
    }
    .tense-section {
        flex: 1;
        margin: 10px;  /* optional, just for spacing */
    }

    /* Media query for small screens: boxes on top of each other */
    @media (max-width: 767px) {
        .tenses-container {
            flex-direction: column;
        }
        .tense-section {
            margin: 10px 0;  /* adjust for vertical stacking */
        }
    }
</style>
{% endblock %}


<h1 align="center">Practice Languages</h1>


<!-- Language Buttons -->
<div class="language-buttons-container">

  <button onclick="showData('it')" class="btn btn-primary">Italian</button>
  <button onclick="showData('de')" class="btn btn-primary">German</button>
  <button onclick="showData('fr')" class="btn btn-primary">French</button>
  <button onclick="showData('en')" class="btn btn-primary">English</button>
  <button onclick="showData('es')" class="btn btn-primary">Spanish</button>
  <button onclick="startQuiz()" class="btn btn-success">Start Quiz</button>
</div>

<br>
<br>
<br>
<br>


<!-- Language Data Sections -->

<div id="it-data" class="language-data" style="display:none;">
  <!-- Italian data content -->

  <br><h4>Italian</h4><br>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Imperfect</h5>
    {{ it_imp_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ it_imp_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good progress lately. Still some errors here and there, but lately you've improved your rate of correct answers.
  </div>

  <div class="tense-section">
    <h5>Passato prossimo</h5>
    {{ it_pas_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ it_pas_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good work on the passato prossimo lately. More adventures to come!
  </div>

  <div class="tense-section">
    <h5>Future</h5>
    {{ it_fut_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ it_fut_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You are absolutely crushing it with the future tense in level one. Time to move on to level two, so in the coming quizzes you'll be seeing more advanced future tense sentences coming your way!
  </div>
</div>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Imperative</h5>
    {{ it_imt_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ it_imt_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You still have a lot to learn of the imperative.
  </div>

  <div class="tense-section">
    <h5>Conditional</h5>
    {{ it_con_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ it_con_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You're not crushing it with conditional. It's okay - it's an advanced feature. But you do have some correct answers, and could soon master this mood.
  </div>

  <div class="tense-section">
    <h5>Subjunctive</h5>
    {{ it_sub_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ it_sub_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Subjunctive mood is difficult, but you'le love it, when first you master it.
  </div>
</div>
</div>




<div id="de-data" class="language-data" style="display:none;">
  <!-- German data content -->

  <br><h4>German</h4><br>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Präteritum</h5>
    {{ de_imp_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ de_imp_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good progress lately. Still some errors here and there, but lately you've improved your rate of correct answers.
  </div>

  <div class="tense-section">
    <h5>Perfekt</h5>
    {{ de_pas_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ de_pas_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good work on the passato prossimo lately. More adventures to come!
  </div>

  <div class="tense-section">
    <h5>Futur</h5>
    {{ de_fut_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ de_fut_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You are absolutely crushing de wdeh the future tense in level one. Time to move on to level two, so in the coming quizzes you'll be seeing more advanced future tense sentences coming your way!
  </div>
</div>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Plusquamperfekt</h5>
    {{ de_imt_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ de_imt_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You still have a lot to learn of the imperative.
  </div>

  <div class="tense-section">
    <h5>Konjunktiv</h5>
    {{ de_cond_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ de_con_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You're not crushing de wdeh conddeional. de's okay - de's an advanced feature. But you do have some correct answers, and could soon master this mood.
  </div>

  <div class="tense-section">
    <h5>Imperativ</h5>
    {{ de_sub_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ de_sub_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Subjunctive mood is difficult, but you'le love de, when first you master de.
  </div>
</div>
</div>



<div id="fr-data" class="language-data" style="display:none;">
  <!-- French data content -->

  <br><h4>French</h4><br>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Präteritum</h5>
    {{ fr_imp_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ fr_imp_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good progress lately. Still some errors here and there, but lately you've improved your rate of correct answers.
  </div>

  <div class="tense-section">
    <h5>Perfekt</h5>
    {{ fr_pas_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ fr_pas_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good work on the passato prossimo lately. More adventures to come!
  </div>

  <div class="tense-section">
    <h5>Futur</h5>
    {{ fr_fut_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ fr_fut_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You are absolutely crushing de wdeh the future tense in level one. Time to move on to level two, so in the coming quizzes you'll be seeing more advanced future tense sentences coming your way!
  </div>
</div>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Plusquamperfekt</h5>
    {{ fr_imt_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ fr_imt_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You still have a lot to learn of the imperative.
  </div>

  <div class="tense-section">
    <h5>Konjunktiv</h5>
    {{ fr_cond_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ fr_con_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You're not crushing de wdeh conddeional. de's okay - de's an advanced feature. But you do have some correct answers, and could soon master this mood.
  </div>

  <div class="tense-section">
    <h5>Imperativ</h5>
    {{ fr_sub_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ fr_sub_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Subjunctive mood is difficult, but you'le love de, when first you master de.
  </div>
</div>
</div>                      



<div id="en-data" class="language-data" style="display:none;">
  <!-- English data content -->

  <br><h4>English</h4><br>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Präteritum</h5>
    {{ en_imp_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ en_imp_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good progress lately. Still some errors here and there, but lately you've improved your rate of correct answers.
  </div>

  <div class="tense-section">
    <h5>Perfekt</h5>
    {{ en_pas_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ en_pas_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good work on the passato prossimo lately. More adventures to come!
  </div>

  <div class="tense-section">
    <h5>Futur</h5>
    {{ en_fut_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ en_fut_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You are absolutely crushing de wdeh the future tense in level one. Time to move on to level two, so in the coming quizzes you'll be seeing more advanced future tense sentences coming your way!
  </div>
</div>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Plusquamperfekt</h5>
    {{ en_imt_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ en_imt_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You still have a lot to learn of the imperative.
  </div>

  <div class="tense-section">
    <h5>Konjunktiv</h5>
    {{ en_cond_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ en_con_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You're not crushing de wdeh conddeional. de's okay - de's an advanced feature. But you do have some correct answers, and could soon master this mood.
  </div>

  <div class="tense-section">
    <h5>Imperativ</h5>
    {{ en_sub_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ en_sub_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Subjunctive mood is difficult, but you'le love de, when first you master it.
  </div>
</div>
</div>                      




<div id="es-data" class="language-data" style="display:none;">
  <!-- Spanish data content -->

  <br><h4>Spanish</h4><br>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Präteritum</h5>
    {{ es_imp_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ es_imp_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good progress lately. Still some errors here and there, but lately you've improved your rate of correct answers.
  </div>

  <div class="tense-section">
    <h5>Perfekt</h5>
    {{ es_pas_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ es_pas_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Good work on the passato prossimo lately. More adventures to come!
  </div>

  <div class="tense-section">
    <h5>Futur</h5>
    {{ es_fut_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ es_fut_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You are absolutely crushing de wdeh the future tense in level one. Time to move on to level two, so in the coming quizzes you'll be seeing more advanced future tense sentences coming your way!
  </div>
</div>

<div class="tenses-container">
  <div class="tense-section">
    <h5>Plusquamperfekt</h5>
    {{ es_imt_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ es_imt_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You still have a lot to learn of the imperative.
  </div>

  <div class="tense-section">
    <h5>Konjunktiv</h5>
    {{ es_cond_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ es_con_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    You're not crushing de wdeh conddeional. de's okay - de's an advanced feature. But you do have some correct answers, and could soon master this mood.
  </div>

  <div class="tense-section">
    <h5>Imperativ</h5>
    {{ es_sub_cor }} correct answers.
    <div class="progress" style="height: 30px; width: 200px;">
      <div class="progress-bar" role="progressbar" aria-valuenow="{{ es_sub_sco }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    Subjunctive mood is difficult, but you'le love de, when first you master it.
  </div>
</div>
</div>                      






{% endblock %}


{% block javascript %}


<script>
  let currentLanguage = null;
  
  function showData(lang) {
    // Hide all language data sections
    const dataSections = document.querySelectorAll('.language-data');
    dataSections.forEach(section => section.style.display = 'none');
      
    // Show the section for the selected language
    const selectedSection = document.getElementById(lang + '-data');
    selectedSection.style.display = 'block';
      
    // Update the current language
    currentLanguage = lang;

    // Call the animation function
    animateProgressBars();
}

  
  function startQuiz() {
      if (currentLanguage) {
          // Send a POST request to start the quiz for the selected language
          // For this, you could use fetch API, XMLHttpRequest, or redirect to a URL with the selected language as a parameter
          location.href = `/start_quiz/${currentLanguage}`;  // Example using redirection
      } else {
          alert('Please select a language first.');
      }
  }
  </script>

  
<script>
  function animateProgressBars() {
    // Get all progress bars
    const progressBars = document.querySelectorAll('.progress-bar');

    // Iterate over each progress bar and set its width
    progressBars.forEach(function(bar) {
        const value = bar.getAttribute('aria-valuenow');
        setTimeout(function() { 
            bar.style.width = value + '%'; 
        }, 50);  // slight delay to ensure the transition is noticed
    });
}

</script>

<!-- <script>
document.addEventListener("DOMContentLoaded", function() {
    showData('it'); // Showing data for English when the page loads.
}); -->


</script>


  
  
{% endblock %}